/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px 5px 100px 5px ;
}

.feemanagement {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.feemanagement::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.feehead {
  /* border: 1px solid red; */
  padding-top: 10px;
  display: flex;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}
.feetitle {
  /* border: 1px solid ; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.2rem;
}
.feeform {
  /* border: 1px solid ; */
  /* width: 75%; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 6px;
}
.formselect1 {
  /* border: 1px solid; */
  height: 100%;
  /* width: 10%; */
  position: relative;

  border: none;
}
.formselect1 select {
  width: 100%;
  font-size: 14px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  appearance: none;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  outline: none;
}
.formselect2 {
  /* border: 1px solid yellow; */
  height: 100%;
  /* width: 15%; */
  position: relative;
}
.formselect2 select {
  width: 100%;
  font-size: 14px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  appearance: none;
  padding: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% opacity */
  border-radius: 5px;
  border: none;
  outline: none;
}
.formselect3 {
  /* border: 1px solid red; */
  height: 100%;
  /* width: 15%; */
  position: relative;
}
.formselect3 select {
  width: 100%;
  font-size: 14px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  appearance: none;
  padding: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% opacity */
  border-radius: 5px;
  border: none;
  outline: none;
}
.forminput {
  /* border: 1px solid; */
  height: 100%;
  /* width: 35%; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.forminput input {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  /* background-color: #f6f6f6; */
  padding-right: 10px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
}
.formbtn {
  /* height: 70%; */
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.formbtn button {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #144196, #061530);
  color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* padding-left: 14px; */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 0px;
 
}

.feeamount {
  /* border: 1px solid; */
  width: 100%;
  /* height:95px; */
  /* height: 15%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  /* margin-top: 25px; */
}
.feeamt {
  /* border: 1px solid; */
  height: 100%;
  width: 40%;
  border-radius: 10px;
  /* margin-top: ; */
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 10px;
}
.feeamthead {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
.amtText {
  font-size: 14px;
  font-weight: 500;
}

.feeamtamount {
  /* border: 1px solid; */
  width: 100%;
  /* height: 70%;  */
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.amtValue {
  font-family: "Poppins", sans-serif;
  font-size: 31px;
  font-weight: 500;
  background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.viewIcon {
  background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.feetable {
  /* border: 1px solid; */
  width: 100%;
  /* height: 350px; */
  margin-top: 30px;
}
.tabledetails {
  /* border: 1px solid green; */
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tabledetails thead {
  /* border: 1px solid red; */
  background-color: #f6f6f6;
}
.tabledetails th {
  width: 30%; /* 4 columns = 25% each */
  /* Gradient as background */
  background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For modern browsers */
  background-clip: text;
  color: transparent;
  padding: 7px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}
/* Base table styles (desktop/tablet) */
.table_container {
  width: 100%;
  overflow-x: auto;
}

.viewText {
  background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For modern browsers */
  background-clip: text;
  /* color: transparent; */
  /* font-weight: 500; */
}

.request{
    background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For modern browsers */
  background-clip: text;
}

/* Stacked mobile view */
@media (max-width: 768px) {
  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
    width: 100%;
  }

  .table thead {
    display: none; /* Hide headers */
  }

  .table tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    background: #fff;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .table td:last-child {
    border-bottom: none;
  }

  .table td::before {
    content: attr(data-label); /* Show header name before value */
    font-weight: bold;
    color: #333;
  }
}

/* fot gradient text  */
.gradientText {
  background: linear-gradient(to bottom, #144196, #061530);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For modern browsers */
  background-clip: text;
  color: transparent;
}
.viewBtn {
  /* border: 1px solid red; */
  cursor: pointer;
}

.clear{
  cursor: pointer;
  margin-bottom: 10px;
color: red;

}

.tabledetails td {
  width: 30%; /* 4 columns = 25% each */
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
  padding: 15px 10px;
  text-align: left;
  font-size: 14px;
  /* border: 1px solid; */
}
.reqsend {
  /* border: 1px solid red; */
  cursor: pointer;
  color: #08792e;
}
.viewHead1 {
  /* border: 1px solid; */

  width: 90%;
  display: flex;
  align-self: flex-end;
  margin-bottom: 15px;
}
.h1 {
  /* border:1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
}

.updatefee {
  /* border: 1px solid ; */
  height: 80%;
  width: 55%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  border-radius: 30px;
  background-color: white;
  overflow: auto;
}
.updatefeehead {
  width: 65%;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0;
  margin-left: auto;
}
.updatefeeinput {
  margin-top: 15px;
  width: 90%;
  align-self: center;
}
.updatefeeinputlabel {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
}
.updatefeeinputinput {
  display: flex;

  /* position: relative; */
}
.select_field {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 35px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  margin-top: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.updatefeeinputinput input {
  width:90%;
  border: none;
  outline: none;
}
.searchdiv{
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 8px 10px 8px 10px;
  border-radius: 9px;
  background-color: #f1f1f1;
  font-size: 17px;
  font-weight: 300;
  /* width: 355px; */
}

.updatefeeinputinput button {
  /* height: 100%; */
  background: linear-gradient(to bottom, #144196, #061530);
  color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-size: 15.88px;
  padding: 0 35px;
  border-radius: 9px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* position: absolute; */
  right: 0;
  cursor: pointer;
      margin-left: -10px;
    position: relative;
}
.errorinput {
  align-self: center;
  width: 90%;
}

.updatefee1 {
  /* border: 1px solid ; */
  /* height: 97%;
  height: 97%; */
  max-height: 97%;
  min-height: 97%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 30px;
  background-color: white;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.updatefee1::-webkit-scrollbar {
  display: none;
}
.stderror {
  width: 90%;
  align-self: center;
  font-size: 10px;
  color: red;
  padding: 8px 0px;
}
.stderror1 {
  width: 90%;
  font-size: 10px;
  color: red;
  padding: 8px 0px; 
}
.updatefeesearch {
  margin: 50px auto;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updatefeesearch img{
  width: 100%;
  height: 100%;
}

.updatefeesearch .img{
  width: 250px;
  height: 250px;
}

.closesearch{
  position: absolute;
  right: 20px;
}

.updatefeedata {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: auto;
  padding: 20px 22px;
  /* height: 100%; */
}
.updatefeepic {
  height: 150px;
  width: 150px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.updatefeepic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.updatefeepic p {
  font-size: 11px;
  padding: 5px 0px;
}

.updatefeepic div {
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  height: 90%;
}
.nameemaildiv {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.namediv {
  /* border: 1px solid; */
  width: 47%;
  display: flex;
  flex-direction: column;
}
.namediv input {
  /* border: 1px solid; */
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  outline: none;
}
.nameemaildiv1 {
  /* border: 1px solid red; */
  display: flex;
  gap: 50px;
}
.namediv1 {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.namediv1 input {
  /* border: 1px solid; */
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  outline: none;
}
.namediv2 {
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.namediv2 select {
  /* border: 1px solid; */
  width: 100%;
  font-size: 14px;
  height: 50%;
  font-family: "Poppins", sans-serif;
  appearance: none;
  padding: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* border: none; */
  outline: none;
}
.updatefeebtn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.savebtn{
 background: linear-gradient(to bottom, #144196, #061530);
  color: #f6f6f6;
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.updatefeebtn button {
  height: 70%;
  background: linear-gradient(to bottom, #144196, #061530);
  color: #f6f6f6;
  font-size: 15.88px;
  padding: 0 35px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}
.updatefeehead {
  display: flex;
  justify-content: space-between;
}

.feeupdatetable{
  width: 100%;
 
}
.feeupdatetable table{
  /* width: 100%; */
  width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.feeupdatetable::-webkit-scrollbar {
  display: none;
}

.feeupdatetable thead {
  background-color: #9694942a;
}
.feeaction{
  display: flex;
  gap:10px;
}

.feeupdatetable th{
  text-align: left;
  font-weight: 500;
   padding: 6px;
   font-size: 12px;
}
.addfeebtn{
  display: flex;
  justify-content: flex-end ;
  gap: 10px;
}
.addfeebtn button{
  background: linear-gradient(to bottom, #144196, #061530);
  color: #f6f6f6;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 10px;
  width:max-content;
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* margin-left: auto; */
  margin-top: 10px;
}
.addfeebtn button{
   cursor: pointer;
}
.addfeebtn button:hover,.updatefeebtn button:hover,.updatefeeinputinput button:hover,.formbtn button:hover{
  background: #154682fc;

}

.feeupdatetable td{
  text-align: left;
  border-bottom: 1px solid #e6e6e690;
  padding: 8px;
}   

.feeupdatetable input{
  width: 100%;
}

