.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
   
  background: white;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  width: 50%;
  /* height: 55%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.profile{
    /* border: 1px solid red; */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.profileimg{
    /* border: 1px solid; */
    width:  17%;
    border-radius: 50%;
}
.profiledetails{
    /* border: 1px solid; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}
.profiledetailsname{
    /* border: 1px solid; */
    /* height: 40%; */
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    font-weight: 600;
}
.profiledetailsid{
     /* border: 1px solid ; */
    /* height: 40%; */
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 5px;
    /* font-weight: 400; */
}
.profileid{
     /* border: 1px solid; */
     width: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 15px;
     font-weight: 400;
}
.profilebtns{
    /* border: 1px solid red; */
    /* height: 30%; */
    width: 50%;
    align-self: center;
    background-color: #F2F2F2;
    padding:10px ;
    border-radius: 10px; 
}
.p{
    font-size:16px ;
    /* color: rgba(0, 0, 0, 0.5); */
    font-weight: 400;
    color: #00000080;

}
.p1{
    font-size:18px ; 
    padding: 2px 0px;
    font-weight: 500;
}