.submit {
  padding: 0px 20px;
  height: 36px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: linear-gradient(to bottom, #0b48b0, #061634);
  color: white;
  font-size: 15px;
}
.spacing{
  padding: 10px 20px 100px 20px;
}
.absent{
  border: 1px solid #0b48b0;
  color: #0b48b0;
  background-color: #b02f0b;
  padding: 0px 9px;
  width: 110px;
  height: 36px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.textarea{
  width:100%;
  border: 2px solid black;
  height: 70px;
  resize: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
}